name: Build Stockfish.wasm + .js

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: latest

      - name: Build
        run: |
          make build ARCH=wasm COMPCOMP=emcc OPT=-sTOTAL_MEMORY=134217728

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: stockfish-js
          path: |
            stockfish.js
            stockfish.wasm
            stockfish.wasm.js
